profiles {
  massive {
    process {
      // Alignment and variant calling processes
      withName: align_reads_se {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      withName: align_reads_pe {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      withName: call_snps {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      // Mapping stats processes
      withName: calculate_gene_coverage_depth {
        time = { 120.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      withName: calculate_mapping_statistics {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      withName: aggregate_mapping_statistics {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      withName: get_passing_replicons {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      // Allele matrix processes
      withName: create_allele_matrix {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      withName: aggregate_allele_matrices {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      withName: filter_allele_matrix {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      // Other processes
      withName: subsample_reads_se {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      withName: subsample_reads_pe {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      withName: create_read_quality_report {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      withName: create_mpileups {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      withName: aggregate_snp_sites {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      withName: aggregate_read_quality_reports {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      withName: determine_coding_consequences {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      withName: create_snp_alignment {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      withName: infer_phylogeny {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      // Merge processes
      withName: merge:index_bam {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      withName: merge:gene_depth {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      withName: merge:gene_coverage {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      withName: merge:mapping_stats {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }

      withName: merge:collect_snp_sites {
        time = { 60.minutes * task.attempt }
        memory = { 4096.MB * task.attempt }
      }
    }
  }
}
